body{
     background-color: beige;
     text-align:center;
}
#container{
    text-align: center;
   
    padding:10%;
    
    
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: hsla(250, 88%, 38%, 0.666);
    border-radius: 10%;
    font-style: italic;
    padding: 15px;
    
}

#label1{
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(250, 250, 250);
    border-radius: 10%;
    font-size: 1rem;
    

}
button{
   
    padding: 15px;
    border-radius: 10%;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    background-color: rgb(254, 13, 13);
    cursor: pointer;
    


}
button:hover{
    background-color: rgba(254, 13, 13, 0.485);

}
input{
    padding: 15px;
    font-size: 1rem;
     border: none;
     border-radius: 10%;
}